.list {
	color: rgb(255, 255, 255);
	width: 100%;
	font-size: 0.95rem;
}

.Image {
	background-color: rgb(90, 90, 90);
	width: 100% !important;
	height: 100%;
	float: left;
	object-fit: cover;
}

.Cardface {
	width: fit-content;
	border-style: none !important;
	background-color: rgb(90, 90, 90);
}

.Body {
	background-color: rgb(90, 90, 90);
	align-content: center;
	padding: 0rem !important;
}

.Text {
	background-color: rgb(90, 90, 90);
	text-align: left;
	font-size: 1.2rem;
}

.card {
	background-color: rgb(90, 90, 90) !important;
}

.row {
	border: 5px slategray !important;
}

li {
	list-style: none;
	color: white;
	font-size: 1.3rem;
}
.info {
	line-height: 1.5em;
	font-size: 1.1rem;
}

.col-bio {
	text-align: left;
	padding-top: 0.7rem;
	padding-bottom: 1rem;
}

.col-profile {
	padding-left: 0.1rem;
	padding-top: 1.2rem;
}

.card-name {
	font-size: 1.3rem;
	margin-bottom: 0cm !important;
}

.button-cv {
	margin-top: 2vh;
	margin-bottom: 2vh;
	border-radius: 7%;
	font-size: 0vmax;
	max-width: 100%;
}
.bold {
	font-weight: bold;
}

.check {
}
