.list {
	color: rgb(255, 255, 255);
	width: 100%;
	font-size: 0.95rem;
}

.Image {
	background-color: rgb(90, 90, 90);
	width: 100%;
	height: 15vw;
	float: left;
	object-fit: scale-down;
}

.Cardface {
	width: fit-content;
	border-style: none !important;
	background-color: rgb(90, 90, 90);
}
.Body {
	flex: auto;
	background-color: rgb(90, 90, 90);
}
.Text {
	flex: auto;

	align-content: center;
	background-color: rgb(90, 90, 90);
}
.card {
	background-color: rgb(90, 90, 90) !important;
}
.col1 {
	width: 10rem;
	flex-grow: unset !important;
}

.row {
	border: 5px slategray !important;
}
